body {
  /*font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;*/
  font-family: YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", Meiryo,
    sans-serif;
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(0, 0, 0);
  background-color: var(--primary-color);
  padding: 0%;
  margin: 0%;
  display: none;
}

body.dark-mode {
  --primary-color: rgb(0, 0, 0);
  --secondary-color: rgb(255, 255, 255);
}

nav {
  margin-right: 50px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.clickable:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.clickable {
  text-decoration: none;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  width: 50px;
  height: 50px;
  border-radius: 12px;
  padding: 10px;
  letter-spacing: 1px;
}

body.dark-mode .clickable:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

body.dark-mode .clickable {
  color: var(--secondary-color);
  background-color: None;
}

.title h1 {
  display: flex;
  justify-content: flex-end;
  margin-top: 50vh;
  color: var(--secondary-color);
  letter-spacing: 10px;
  font-size: 7rem;
}

footer {
  display: flex;
  justify-content: center;
  padding: 25px;
  color: var(--secondary-color);
}
