#title h1 {
  margin-right: 15vw;
}

#gallery {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  margin-top: 25vh;
}

#gallery h1 {
  color: var(--primary-color);
  display: flex;
  justify-content: flex-start;
  margin-left: 15vw;
  color: var(--primary-color);
  letter-spacing: 10px;
  font-size: 7rem;
}

#images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.drag-over{
  filter: blur(20px);
}