main img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
 
#title {
  display: flex;
}

#title img {
  object-fit: cover;
}

#first-img {
  width: 360px;
  height: 560px;
  margin-left: 25px;
  margin-top: 5vh;
  border-radius: 20px;
}
#scnd-img {
  width: calc(360px * 0.75);
  height: calc(560px * 0.75);
  margin-left: -5vw;
  border-radius: 20px;
  z-index: -1;
}

#third-img {
  width: calc(360px * 0.6);
  height: calc(560px * 0.6);
  margin-left: -17vw;
  margin-top: 40vh;
  border-radius: 20px;
}

#contact {
  background-color: var(--secondary-color);
  height: 200px;
}

#contact h2,
#contact h3 {
  display: flex;
  justify-content: center;
}

#contact h2 {
  margin-top: 100px;
  padding: 25px;
  color: var(--primary-color);
  font-size: 2rem;
}

#contact h3 {
  margin-top: -25px;
  color: var(--primary-color);
}

.title #button {
  display: flex;
  justify-content: center;
  margin-top: -50px;
}

.title button{
  font-size: 1rem;
}